<!--CREATE A FORM THAT    POST   TO /login  -->

<font size="7">
    TinyApp</font>
    <h6> USER NAME : </h6>
 
    <% if(!username){ %>
<!--LOGIN FORM -->
<form action="/login" method="post">
    <input type="text" name="username" placeholder= "<%= username %>" />
    <input type="submit" value="Login" />
<!--NEW LINKS-->
<p><h6>REGISTER  |  </h6><a href="page2.html">page 2</a></p> <p><h6>LOGIN </h6><a href="page2.html">page 2</a></p>
</form>

    <% } else { %>  

<form action="/logout" method="post">
    <input type="text" name="username" placeholder= "<%= username %>"  disabled/>
    <input type="submit" value="Logout" />
</form>    

    <% } %>    

<br>
<br>
