<!DOCTYPE html>
<html lang="en">
    <body>

        <form action="/register" method="post">

            <label for="email">Email</label>
            <input

                type="email"
                name="email">

            <label for="password">Password</label>
            <input

                type="password"
                name="password">

            <input type="submit" value="Login">

        </body>
    </form>
</html>
