<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

</style>
</head>
<body style="font-size:20px; padding:50px;">
 
 
  <% include partials/_header %>
  <!-- Add EJS code here -->

  <!-- <a>link comes here </a> -->
  
  <p><a href="urls/urls_new" class="btn btn-primary" role="button">create new url</a></p> 
  
  <% for (var mykey in urls) { %> 
  
    <li> <label for="longURL"> <%= mykey %> :  </label>
    
  <strong><%= urls[mykey].longURL %> <form method="POST" action="/urls/<%= mykey %>/delete"> 
    
    <p> <a href="urls/urls_show"> Edit URL   </p> </h4> <button type="submit">delete</button> </form> </strong> </li>
 
  <% } %>
  <br>
 
  <br>
</body>
</html>
